.back {
    position: relative;
}
.text {
    position: absolute;
    top: 200px;
    margin: 60px;
    color: white;
    font-family: roboto;
    font-size: 36px;
    
}
@font-face {
    font-family: roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(fonts1/Montserrat-Regular.ttf);
}

@media (max-width: 768px) {

body {
background-color: rgb(255, 255, 255);
}

    .text {
        font-family: montserrat;
    font-size: 16px;
    color: black;
    }
}